data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep
outputs/figures/*
outputs/tables/*
!outputs/figures/.gitkeep
!outputs/tables/.gitkeep
__pycache__/
*.pyc
.ipynb_checkpoints/
.venv/
*.egg-info/
.DS_Store
